<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Peruntas</title>
</head>
<body>
     
    <h1>Nome do site: <%=siteName%></h1>
    <h2>Index: Guia perguntas</h2>
    <hr>
    <h3>Lista de Perguntas</h3>

     <p>Nome: <%=nome%></p>  
     <p>Linguagem: <%=lang%></p> 
     <p>Empresa: <%=empresa%></p> 
     <p>Inscrito: <%=inscritos%></p> 
     <p>Hobbie: <%=hobbie%></p>
    
    
    <%if (msg == true) {%>
        <h3>Isso é uma mensagem de erro!</h3>

        <%}else  {%>
         <h3>Não deu erro!</h3>
     <%}%>

    <% data.forEach((value)=>{ %>
       <%=value%>
    <% }) %>
     

    
    
    

</body>
</html>

